<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="environment" type="System.Configuration.NameValueSectionHandler"/>
    <section name="regexpatterns" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <environment>
    <add key="path" value="\\thebox\photo\Υποδοχή"/>
  </environment>
  <regexpatterns>
    <add key="key0" value="IMG-[0-9]{8}-.+." />
    <add key="key1" value="IMG-[0-9]{8}-.+." />
    <add key="key2" value="[0-9]{8}_.+." />
    <add key="key3" value="[0-9]{8}_.+." />
    <add key="key4" value="VID-[0-9]{8}-.+." />
    <add key="key5" value="VID_[0-9]{8}_.+." />
    <add key="key6" value="[0-9]{8}_.+." />
    <add key="key7" value="[0-9]{8}_[0-9]{6}." />
  </regexpatterns>
</configuration>
