<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="environment" type="System.Configuration.NameValueSectionHandler" />
    <section name="regexpatterns" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <environment>
    <add key="datePattern" value="dd/MM/yyyy" />
    <add key="dateAfter" value="07/04/2019" />
    <add key="source" value="" />
    <add key="destination" value="" />
  </environment>
  <regexpatterns>
    <add key="key0" value="IMG-[0-9]{8}-.+." />
    <add key="key1" value="[0-9]{8}_.+." />
    <add key="key2" value="VID-[0-9]{8}-.+." />
    <add key="key3" value="[0-9]{8}_.+." />
    <add key="key4" value="[0-9]{8}_[0-9]{6}." />
  </regexpatterns>
</configuration>
